@font-face {
	font-family: "Moralerspace Krypton NF";
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: url(ttf/MoralerspaceKryptonNF-Regular.ttf) format("truetype");
}
@font-face {
	font-family: "Moralerspace Krypton NF";
	font-style: italic;
	font-weight: normal;
	font-display: swap;
	src: url(ttf/MoralerspaceKryptonNF-Italic.ttf) format("truetype");
}
@font-face {
	font-family: "Moralerspace Krypton NF";
	font-style: normal;
	font-weight: bold;
	font-display: swap;
	src: url(ttf/MoralerspaceKryptonNF-Bold.ttf) format("truetype");
}
@font-face {
	font-family: "Moralerspace Krypton NF";
	font-style: italic;
	font-weight: bold;
	font-display: swap;
	src: url(ttf/MoralerspaceKryptonNF-BoldItalic.ttf) format("truetype");
}
